/* Complete the CSS styling according to the provided design */
@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }



body {
background-image: url(/RainbowSixSiege.jpg);
background-position: center;
background-attachment: fixed;
background-size: cover;
}
h1 {
    color: goldenrod;
    text-shadow: 1vw 1vw 1vw darkred;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
    font-size: 13vw;
    margin-top: 0vw;
}

h2 {
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -1vw 0vw 2vw white;
    margin-top: -8vw;
    font-size: 10vw;
}
button {
    display: block;
    width: 70vw;
    height: 15vw;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
    text-shadow: 1vw 0vw 0vw black;
    border-radius: 20%;
    font-weight: bold;
    font-size: 6.5vw;
}
button:hover {
    display: block;
    width: 80vw;
    height: 15vw;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border-radius: 20%;
    text-shadow: 1vw 0vw 2vw black;
    font-size: 6.5vw;
}
#accident {
    background: url('/BloodSplatter.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: -60vw;
}
#unwarranted {
    margin-top: 3vw;
    background: url('/BloodSplatter.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: -60vw;
}
#warranted {
    margin-top: 3vw;
    background: url('/BloodSplatter.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: -60vw;
}

